body {
    font-family: sans-serif;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 2px;
    margin: 20px;
    font-size: 18px;
    border: 2px;
    border-color: red;
    border-style: double;
    background-color: whitesmoke;
}

button {
    height: 50%;
}
.header-display {
    text-transform: uppercase;
}

.days,
.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    margin: 10px;
}

.days div {
    width: 50px;
    height: 50px;
    border: 2px;
    padding:5px;
    margin: 5px;
}

.days div:hover {
    background-color: aquamarine;
}

.calendar {
    background-color: white;
    border: 5px;
    border-color: black;
    border-radius: 10px;
    border-style: double;
    padding: 20px
}
.curr-date {
    background-color: blue;
    color: white;
}